body {
  background-color:lightgray;
  text-align: center;
}
h1, h3, p{
  text-align:center;
}
/* ------------------------------------------ */

path {
  stroke: #4af17f;          //Borders color
  stroke-width: 0.5px;  //Borders width line
  fill: none;
  fill: #4af17f;        //Countries color
}

#tooltip {
  text-align: left;
  padding: 16px;
  background-color: lightsalmon;
  border: 1px solid #fffafe;
  width: auto;
  opacity: 0;
  color: rgba(255, 174, 181, 0.6);
  position: absolute;
}

/*
 * Footer
 */
a:link    {color:orangered;  text-decoration:none}
a:visited {color:orangered; text-decoration:none}
a:hover   {color:red; text-decoration:underline}

.tableFooter{
  margin-top: 15px;
}
.footerSvg{
  width: 32px;
}